.rojo{
    display: inline; 
    background-color: red;
}
.azul{
    display: inline; 
    background-color: blue;
}

#darth{
    font-size: 24px;
}

#luke{
    font-style: italic;
}
.soldados{
    border: 4px groove rgb(127, 223, 255);
}
.espaciado{
    letter-spacing: 3px;
}
.centrado{
    text-align: center;
}
.nave {
    text-transform: uppercase;
}